.boxOrange1 {
    background-color:darkorange;
    width : 600px;
    height: 50px;
}
.boxOrange2 {
    background-color:sandybrown;
    width : 600px;
    height: 50px;
}
.boxOrange3 {
    background-color:goldenrod;
    width : 600px;
    height: 50px;
}
.boxOrange4 {
    background-color:orange;
    width : 600px;
    height: 50px;
}
.boxOrange5 {
    background-color:peachpuff;
    width : 600px;
    height: 50px;
}